<div class="row">
    <div class="col-md-4" style="width: 100%" align="center">
        <div id="#painel" style="width: 60%; height: 550px; background-color: #e9e9e9; min-width: 410px; max-width:750px; opacity: 0.9; border-radius: 30px; margin-top: 15px;">
            <div style="margin: 0 auto; width: 50%; min-width: 350px; padding-top: 3px">
                <h2>Go Class</h2>
                <div style="text-align: justify">
                    <p>Somos um grupo de 7 estudantes da PUC-Rio que diante de um problema que eventualmente será encontrado por todos nós: "Onde achar uma sala vazia para estudar?"</p>
                    <p>Diante desse problema e tendo conhecimento de outras pessoas que tentaram resolver isso sem muita praticidade, seja por grupo no facebook ou compartilhamento de planilhas.</p>
                    <p>Nosso site vem resolver esse problema uma vez por todas, deixando todas as salas vazias do micro-horario na palma da sua mão.</p>
                    <p>Atenciosamente,</p>
                    <p style="text-align: right">Go Class</p>
                </div>
            </div>
        </div>
    </div>
</div>