@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<address>
    <strong>Fábio Mourthé:</strong>   <a href="mailto:mourthe@live.com">´mourthe@live.com</a><br />

</address>