<div class="row">
    <div class="col-md-4" style="width: 100%" align="center">
        <div id="#painel" style="width: 60%; background-color: #e9e9e9; min-width: 410px; max-width:750px; opacity: 0.9; border-radius: 30px; margin-top: 15px;">
            <div style="margin: 0 auto; width: 50%; min-width: 350px; padding: 15px 0; text-align: left; ">
                <address>
                    <p style="text-align: justify">Caso tenha algua sugestão ou encontre um problema sinta-se livre para me mandar um email para nosso minion programador com o assunto: "GoClass".</p>
                    <strong>Fábio Mourthé: </strong> <a href="mailto:mourthe@live.com">mourthe@live.com</a><br />
                </address>
            </div>
        </div>
        <div style="height: 350px"><br/></div>
    </div>
</div>