@{
    ViewBag.Title = "Home Page";
}

@Scripts.Render("~/Scripts/jquery-2.1.1.min.js")
<script>
    window.onload = function() {
        $("#coalasala").click(function() {
            $.ajax({
                url: "/rooms/" + $("#combodahora").val() + "/" + $("#combododia").val(),
                type: "get",
                contentType: 'application/json',
                accepts: 'application/json',
                dataType: "json"
            }).done(function(data) {
                data.frings.forEach(function(room) {
                    $("#rooms-list").append("<li>" + room + "</li>");
                });

                data.leme.forEach(function (room) {
                    $("#rooms-list").append("<li>" + room + "</li>");
                });
                data.kennedy.forEach(function (room) {
                    $("#rooms-list").append("<li>" + room + "</li>");
                });
            });
        });
    };
</script>

<div class="jumbotron">
    <h1>Coal a Sala</h1>
    <p class="lead"></p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Dia e Hora</h2>
        <!--COLOCAR COMBOS DE DATA AQUI-->
        <div class="btn btn-default" id="coalasala">Coal a sala?</div>
    </div>

    <div id="rooms" class="col-md-8">
        <h2>Salas</h2>
        <ul id="rooms-list">
            
        </ul>

    </div>
</div>