
@Scripts.Render("~/Scripts/jquery-2.1.1.min.js")
<script>
    window.onload = function() {
        $("#buscar").click(function() {
            $.ajax({
                url: "/rooms/" + $("#hora").val() + "/" + $("#dia").val(),
                type: "get",
                contentType: 'application/json',
                accepts: 'application/json',
                dataType: "json"
            }).done(function (data) {
                $("#rooms-list").html("");
                $("#rooms-list").append("<h4 style=\"text-align: center; font-weight: bold;\">Salas Frings </h4>");
                data.frings.forEach(function (room) {
                    $("#rooms-list").append(room + " ");

                });
                $("#rooms-list").append("<h4 style=\"text-align: center; font-weight: bold;\">Salas Leme </h4>");
                data.leme.forEach(function (room) {
                    $("#rooms-list").append(room + " ");

                });
                $("#rooms-list").append("<h4 style=\"text-align: center; font-weight: bold; \">Salas Kennedy </h4>");
                data.kennedy.forEach(function (room) {
                    $("#rooms-list").append(room + " ");
                });
            });
        });
    };
</script>

<div class="row" style="font-family: Helvetica">
    <div class="col-md-4" style="width: 100%" align="center">
        <div id="#painel" on style="width: 60%; height: 550px; background-color: #e9e9e9; min-width: 410px; max-width:750px; opacity: 0.9; border-radius: 30px; margin-top: 15px;">
            <div style="padding-top: 10px;">
                <select id="dia" style="border-radius: 8px; height: 35px; width: 140px; border-color: #ccc">
                    <option value="">Dia da Semana</option>
                    <option value="seg">------------------</option>
                    <option value="seg">Segunda</option>
                    <option value="ter">Terça</option>
                    <option value="qua">Quarta</option>
                    <option value="qui">Quinta</option>
                    <option value="sex">Sexta</option>
                </select>
                <select id="hora" style="border-radius: 8px; height: 35px; width: 100px; border-color: #ccc">
                    <option value="">Hora</option>
                    <option value="">--------------</option>
                    <option value="7">7h</option>
                    <option value="8">8h</option>
                    <option value="9">9h</option>
                    <option value="10">10h</option>
                    <option value="11">11h</option>
                    <option value="12">12h</option>
                    <option value="13">13h</option>
                    <option value="14">14h</option>
                    <option value="15">15h</option>
                    <option value="16">16h</option>
                    <option value="17">17h</option>
                    <option value="18">18h</option>
                    <option value="19">19h</option>
                    <option value="20">20h</option>
                    <option value="21">21h</option>
                    <option value="22">22h</option>
                </select>
                <div class="btn btn-default" id="buscar" style="border-radius: 8px; height: 35px; width: 100px; border-color: #ccc; margin-top: -2px;">Buscar</div>
                <div style="margin: 0 auto; width: 400px;">
                    <div id="rooms-list" style="text-align: left; text-align: justify;">
                        <h3 style="text-align: center; font-weight: bold;">Leia antes de usar</h3>
                        <p>O sistema é baseado no micro-horario da PUC-Rio, logo não temos como prever se a sala estará sendo utilizada para outra coisa além de aula marcada.</p>
                        <p>O site não garante que a sala estará vazia.</p>
                        <p>Atenciosamente,</p>
                        <p style="text-align: right">Equipe GoClass</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
